.button {
    width: 88px;
    height: 52px;
    background-color: transparent;
    border: 2px solid;
    font-size: 16px;
    font-weight: 500;
  }
  .clear {
    width: 186px;
    margin-right: 10px;
    text-transform: uppercase;
  }
  .buttons {
    margin-left: 48px;
    flex-wrap: wrap;
    width: 284px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 13px;
  }
  .buttons button:nth-child(2), .buttons button:nth-child(5), .buttons button:nth-child(8) {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }